.pageHeader
{   
    color: black;
	background-image: url("./wave.jpg");
    background-size: cover;
    background-position: center;
    height: 40em;
    text-align: center;
    background-color: rgba(0,0,100,.5);
 
       
      
}
.top-navbar li{
    color: black;
    text-decoration-color: none;
   
}
.text-white{
    color: white;
}
.pageHeader h1{
    color: white;
}
