.pageHeader
{
	background-image: url("./wave.jpg");
    background-size: cover;
    background-position: center;
    color: darkblue;
}
.top-navbar
{
    background-color: darkblue;
    color: white;
}
body{
	color: black;
}
